:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyblue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;

}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid red;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*-----------------------------------------------------------HEADER---------------------------------------------------------*/
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--navyblue, #2e2f42);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-link {
    color: var(--iris, #4d5ae5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-list-link {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.header-list-link:hover,
.header-list-link:focus {
    color: var(--ocean, #404BBF);
}



.adress {
    font-style: normal
}

.address-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
    margin-left: 332px;
}

.address-list-item {}

.address-list-link {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-list-link:hover,
.address-list-link:focus {
    color: var(--ocean, #404BBF);
}

/*------------------------------------------------------------HERO----------------------------------------------------------*/
.hero {
    background-color: var(--navyblue, #2E2F42);
    padding: 188px 0;
}

.hero-title {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    padding-bottom: 48px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    background-color: var(--iris, #4D5AE5);
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean, #404BBF);
}

/* -------------------------------------------------------ADVANTAGES------------------------------------------------------- */
.advantages {
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-title {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ----------------------------------------------------------WORKS--------------------------------------------------------- */
.works {
    padding-bottom: 120px;
}

.works-list {
    display: flex;
    gap: 24px;
}

.works-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* ------------------------------------------------------------TEAM-------------------------------------------------------- */
.team {
    background-color: var(--cloud, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.team-list {
    display: flex;
    gap: 24px;
}

.team-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-container {
    padding: 32px 0;
}

.team-item {
    background-color: var(--white, #FFF);
}


.team-subtitle {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* -------------------------------------------------------------FOOTER----------------------------------------------------- */
.footer {
    background-color: var(--navyblue, #2E2F42);
    padding: 100px 0;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    color: var(--cloud, #f4f4fd);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-link {
    font-family: 'Raleway', sans-serif;
    color: var(--iris, #4d5ae5);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}



/* -----------------------------------------------------------PORTFOLIO----------------------------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    margin-bottom: 72px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.portfolio-btn {
    font-family: "Roboto", sans-serif;
    background-color: var(--cloud, #F4F4FD);
    color: var(--iris, #4D5AE5);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-style: normal;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    display: flex;
    padding: 12px 24px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #fff;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.portfolio-second-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}





.portfolio-second-item {
    width: calc((100% - 48px) / 3);
}

.address {
    font-style: normal;
}

.portfolio-case {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-subtext {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}